body {
  background-color: rgb(87, 74, 74);
}

.main-container {
  display: flex;
  height: auto;
}

.container {
  margin-left: 200px;
}

.input {
  margin-left: 50px;
  margin-top: 50px;
  border: 5px solid rgb(27, 173, 76);
  border-radius: 5px;
}

.input::placeholder {
  color: red;
}
